<a href="https://colab.research.google.com/github/Keerthisupraja/python-lab/blob/main/PYTHON_LAB_EXCERCISES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXCERCISE-1

A.Running instructions

In [ ]:
print("welcome to python")
a=10
b=20
print(a+b)
print("thank you")

welcome to python
30
thank you

B.Write a program to purposefully raise an indentation error and correct it

In [ ]:
a=10
b=20
if a>b:
print("a")
else:
print("b")

#correction
#if a>b:
#  print("a")
#else:
#  print("b")

IndentationError: ignored

#                                    EXCERCISE-2

A.write a program to copute the distance between two points by taking input from the user.

In [ ]:
import math
a=int(input("Enter value of a="))
b=int(input("Enter value of b="))
c=int(input("Enter value of c="))
d=int(input("Enter value of d="))
distance=math.sqrt(((b-a)**2)+((d-c)**2))
print("Distance=",distance)

Enter value of a=3
Enter value of b=7
Enter value of c=4
Enter value of d=10
Distance= 7.211102550927978

###                                  EXCERCISE-3
A.write a program for checking whether the given number is even or not

In [ ]:
num=int(input("Enter a number:"))
if (num%2!=0):
  print(num,"is an odd number")
else:
  print(num,"is an even number")

Enter a number:10
10 is an even number

B.using for loop write a program that prints out the decimal equivalents to1/2,1/3,1/4.....1/10.

In [ ]:
n=int(input("enter value of n="))
for i in range(2,n):
	d=1/i
	print("1/"+str(i)+"=",d)

enter value of n=10
1/2= 0.5
1/3= 0.3333333333333333
1/4= 0.25
1/5= 0.2
1/6= 0.16666666666666666
1/7= 0.14285714285714285
1/8= 0.125
1/9= 0.1111111111111111

C.write a program using for loop that loops over a sequence

In [ ]:
array=[10,"abc",'k',-10,"keerthi",9.8]
print("array is:",array)
for i in array:
	print(i)

array is: [10, 'abc', 'k', -10, 'keerthi', 9.8]
10
abc
k
-10
keerthi
9.8

D.write a program using while loop that asks the user for a number and prints a countdown from number to zero

In [ ]:
num=int(input("enter the value:"))
while num>=0:
	print(num)
	num-=1

enter the value:5
5
4
3
2
1
0

##                                       EXCERCISE-4
A program in which each new term in fibonacci series generated by adding the previous 2 terms

In [ ]:
number=int(input("enter value of number=")) 
a=0 
b=1
c=a+b
while c<number:
  print(c,end=' ') 
  a=b
  b=c
  c=a+b

enter value of number=100
1 2 3 5 8 13 21 34 55 89

By considering the terms in fibonacci sequence whose values do not exceed four million find the sum of even valued terms

In [ ]:
num=int(input("enter value="))
a=0
b=1
c=a+b
s=0
print("even numbers =",end=' ')
while c<=num:
  if c%2==0:
    print(c,end=' ')
    s+=c
  a=b
  b=c
  c=a+b
print("\nsum of fibonnacci series=",s)

enter value=1000
even numbers = 2 8 34 144 610
sum of fibonnacci series= 798

#                                       EXCERCISE-5
 write a program to count the number of charecters in the string and store them in a dictonaray data structure

In [ ]:
name=input("enter name:")
dic={}
  
for ch in name:
  keys=dic.keys()
  
  if(ch in keys):
     dic[ch]-dic[ch]+1 
  else:
    dic[ch]=1 
  
print("dictionary is",dic)

enter name:keerthisupraja
dictionary is {'k': 1, 'e': 1, 'r': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'u': 1, 'p': 1, 'a': 1, 'j': 1}

write a program to split and join methods in a string and trace a birthdaywith dictionary data structure

In [ ]:
dob={"keerthi":"25-jan-2002","radha":"01-agust-1999"}
name=input("Enter person name= ")
  
l=name.split()
birth=""

for i in l: 
  if i in dob.keys():
    pers=i
print("".join([pers,"Birthday is ",dob[pers]]))

Enter person name= keerthi
keerthiBirthday is 25-jan-2002

#                                          EXCERCISE-6
A.write a program combine lists that combines listst into dictonary

In [ ]:
subject=["DAA","OS","DBMS","P&S","PPL","SE"]
marks=[94,98,99,95,97,96]
print("given lists are:")
print("Subject name=",subject)
print("marks=",marks)
d=dict(zip(subject,marks))
print("dictonary=",d)

given lists are:
Subject name= ['DAA', 'OS', 'DBMS', 'P&S', 'PPL', 'SE']
marks= [94, 98, 99, 95, 97, 96]
dictonary= {'DAA': 94, 'OS': 98, 'DBMS': 99, 'P&S': 95, 'PPL': 97, 'SE': 96}

B.write a program to found the frquency of charecters in the given file .can you use charecter frequency to tell whether the given file is python program file or a text file or a c program file

In [ ]:
ftype=['.py','.c','.txt']
fn=input("enter the file name")
f=open(fn,"r")
count=dict()
print("given file  is",end=" ")
for ft in ftype:
  if(ft in fn):
    if(ft=='.py'):
      print("python file")
    elif(ft=='.c'):
      print("c file")
    else:
      print("txt file")
for line in f:
  for ch in line:
    if ch in count:
      count[ch]=count[ch]+1
    else:
      count[ch]=1
print(count)
f.close()

# EXCERCISE-7
A.write a program to print each line of the file in reverse order

In [ ]:
obj=open("abc.txt","r")
if obj:
  st=obj.read()
  print("file content is :\n",st)
obj.close()

print()
lines=st.split("\n")
for ln in lines:
  i=len(ln)-1
  while(i>=0):
    print(ln[i],end='')
    i=i-1
  print()

B.write a progeram to count the number of charecters,words and lines in a files

In [ ]:
nc=nw=nl=0
file=open("abc.txt","r")
nl=nw=nc=0
print("file content :\n")
for line in file:
  ln=line.strip("\n")
  print(ln)
  words=ln.split()
  nl+=1
  nw+=len(word)
  nc+=len(line)
file.close()
print("\n No of lines",nl,"words",nw,"character",nc)

##                                           EXCERCISE-8
A.write a function ball collides that takes two balls as parameters and computes if they are coliding.your function should return a boolean representing whether colliding or not

In [ ]:
import math
def collide(ball_tup1,ball_tup2):
  x1,y1,r1=ball_tup1
  x2,y2,r2=ball_tup2
  print("Ball1=",ball_tup1)
  print("Ball1=",ball_tup2)

  d=math.sqrt((x2-x1)**2+(y2-y1)**2)
  print("Centroid distance=",d)
  print("sum of radius ball1 and ball2={}+{}={}".format(r1,r2,r1+r2))

  if d<=r1+r2:
    return True
  else:
    return False
b1=(2,-4,-3)
b2=(5,8,10)

if collide(b1,b2):
  print("Balls are colide")
else:
  print("Balls are  not colide")

Ball1= (2, -4, -3)
Ball1= (5, 8, 10)
Centroid distance= 12.36931687685298
sum of radius ball1 and ball2=-3+10=7
Balls are  not colide

B.find mean,mode and for the given set of numbers in the list

In [3]:
def list_mean(num_list):
 return sum(num_list)/len(num_list)
    
def list_mode(num_list):
  num_list.sort()
  temp=[]

  i=0
  while i<len(num_list):
    temp.append(num_list.count(num_list[i]))
    i+=1

  dic=dict(zip(num_list,temp))
  mode={k for(k,v) in dic.items() if v==max(temp)}
  return mode
  
lst=[1,1,2,2,2,3,4,5,3]
print(lst)
print(list_mean(lst))
print(list_mode(lst))

[1, 1, 2, 2, 2, 3, 4, 5, 3]
2.5555555555555554
{2}

#                                       EXCERCISE-9
A.write a function nearly equal to test whether two strings are nearly equal or not.two strings are nearly a and b are equal when a can be generated by single mutation on b

In [ ]:
def nearly_eq(str1,str2):
  count=0
  i=j=0
  while(i<len(str1) and j<len(str2)):
   if (str1[i]!=str2[j]):
      count+=1
      if(len(str1)>len(str2)):
        i+=1
      elif(len(str1)-len(str2)):
         pass
      else:
         i-=1
   if(count>1):
     return False
   i+=1
   j+=1
  if(count<2):
   return True

strl=input("Enter String1: ")
str2=input("Enter String2: ")
bln=nearly_eq(strl,str2)
if(bln):
   print("Strings are nearly equal.")
else:
   print("String are NOT equal.")

Enter String1: keerthi
Enter String2: keerthi
Strings are nearly equal.

B.write a function dup to find all duplicates in the list

In [ ]:
def dups(numlist):
  temp=[]
  for i in numlist:
    cnt=numlist.count(i)
    if(cnt>1 and (i not in temp)):
       temp.append(i)
  print("Duplicates in the list: ",temp) 
lst=[1,2,3,5,6,1,1,2,2,4,4,4]
print("Given elements in the list: ",lst)
dups(lst)

Given elements in the list:  [1, 2, 3, 5, 6, 1, 1, 2, 2, 4, 4, 4]
Duplicates in the list:  [1, 2, 4]

C.write a function unique to find all unique elemnts of a list

In [5]:
def unique(numlist):
  temp=[]
  for i in numlist:
    cnt=numlist.count(i)
    if cnt==1:
      temp.append(i)
  print("unique elemnts in list:",temp)
lst=[1,2,20,9,10,4,5,2,1]
print("given elemnts in the list:",lst)
unique(lst)

given elemnts in the list: [1, 2, 20, 9, 10, 4, 5, 2, 1]
unique elemnts in list: [20, 9, 10, 4, 5]

#                                           EXCERCISE-10
A.write a function cumulative product to compute cummulative product of list of numbers.

In [ ]:
def cum_pro(numlist):
  pro=1
  temp=[]
  for i in  numlist:
    pro*=i
    temp.append(pro)
  return temp
lst=[2,4,3,5,6]
print("list=",lst)
print("cumulative product=",cum_pro(lst))

list= [2, 4, 3, 5, 6]
cumulative product= [2, 8, 24, 120, 720]

B.write a function reverse to reverse a list,without using reverse function

In [ ]:
def rev_lst(numlist):
  i=0
  j=len(numlist)-1
  while(i<=j):
    temp=numlist[i]
    numlist[i]=numlist[j]
    numlist[j]=temp
    j-=1
    i+=1
  return numlist
lst=[10,20,30,40,50]
print("list=",lst)
rev_lst(lst)
print("reverse list=",lst)

list= [10, 20, 30, 40, 50]
reverse list= [50, 40, 30, 20, 10]

C.write a function to compute gcd,lcm of two numbers each function shouldnot exceed one line

In [ ]:
gcd=lambda a,b:a if b==0 else gcd(a,a%b)
lcm=lambda a,b:(a*b)/gcd(a,b)
x=5
y=25
print("Given numbers=",x,y)
print("GCD=",gcd(x,y))
print("LCM=",lcm(x,y))

Given numbers= 5 25
GCD= 5
LCM= 25.0