<a href="https://colab.research.google.com/github/Keerthisupraja/python-lab/blob/main/PYTHON_LAB_EXCERCISES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name**:**k.keerthi** **supraja**

**Reg no:19A21A0528**

**Section:CSE-A**

# EXCERCISE-1

A.Running instructions

In [ ]:
print("WELCOME TO PYTHON")
a=10
b=20
print(a+b)
print("thank you")

WELCOME TO PYTHON
30
thank you

B.Write a program to purposefully raise an indentation error and correct it

In [ ]:
a=10
b=20
if a>b:
print("a")
else:
print("b")

#correction
#if a>b:
#  print("a")
#else:
#  print("b")

IndentationError: ignored

#                                    EXCERCISE-2

A.write a program to copute the distance between two points by taking input from the user.

In [ ]:
import math
a=int(input("Enter value of a="))
b=int(input("Enter value of b="))
c=int(input("Enter value of c="))
d=int(input("Enter value of d="))
distance=math.sqrt(((b-a)**2)+((d-c)**2))
print("Distance=",distance)

Enter value of a=3
Enter value of b=7
Enter value of c=4
Enter value of d=10
Distance= 7.211102550927978

###                                  EXCERCISE-3
A.write a program for checking whether the given number is even or not

In [ ]:
num=int(input("Enter a number:"))
if (num%2!=0):
  print(num,"is an odd number")
else:
  print(num,"is an even number")

Enter a number:10
10 is an even number

B.using for loop write a program that prints out the decimal equivalents to1/2,1/3,1/4.....1/10.

In [ ]:
n=int(input("enter value of n="))
for i in range(2,n):
	d=1/i
	print("1/"+str(i)+"=",d)

enter value of n=10
1/2= 0.5
1/3= 0.3333333333333333
1/4= 0.25
1/5= 0.2
1/6= 0.16666666666666666
1/7= 0.14285714285714285
1/8= 0.125
1/9= 0.1111111111111111

C.write a program using for loop that loops over a sequence

In [ ]:
array=[10,"abc",'k',-10,"keerthi",9.8]
print("array is:",array)
for i in array:
	print(i)

array is: [10, 'abc', 'k', -10, 'keerthi', 9.8]
10
abc
k
-10
keerthi
9.8

D.write a program using while loop that asks the user for a number and prints a countdown from number to zero

In [ ]:
num=int(input("enter the value:"))
while num>=0:
	print(num)
	num-=1

enter the value:5
5
4
3
2
1
0

# EXCERCISE-4
Find the sum of all primes bellow 2 million

In [ ]:
n=int(input("Enter ending number="))

st=""
sum=0

for i in range(2,n):
       
    state=True
    for j in range(2,i):
        if(i%j)==0:
            state=False
            break;
    if state==True:
        st+=" "+str(i)
               
        sum+=i
print("Prime numbers")
print(st)
print("Sum of Prime numbers ",sum)

Enter ending number=10000
Prime numbers
 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997 1009 1013 1019 1021 1031 1033 1039 1049 1051 1061 1063 1069 1087 1091 1093 1097 1103 1109 1117 1123 1129 1151 1153 1163 1171 1181 1187 1193 1201 1213 1217 1223 1229 1231 1237 1249 1259 1277 1279 1283 1289 1291 1297 1301 1303 1307 1319 1321 1327 1361 1367 1373 1381 1399 1409 1423 1427 1429 1433 1439 1447 1451 1453 1459 1471 1481 1483 1487 1489 1493 1499 1511 1523 1531 1543 1549 1553 1559 1567 1571 1579 1583 1597 1601 1607 1609 1613 1619 1621 1627 1637 1657 1663 1667 1669 1693 1697 1699 1709 1721 1723 1733 1741 1747 1753 1759 1777 1783 1787 1789 1801 1811 1823 1831 1847 1861 1867 1871 1873 1877 1879 1889 1901 1907 1913 1931 1933 1949 1951 1973 1979 1987 1993 1997 1999 2003 2011 2017 2027 2029 2039 2053 2063 2069 2081 2083 2087 2089 2099 2111 2113 2129 2131 2137 2141 2143 2153 2161 2179 2203 2207 2213 2221 2237 2239 2243 2251 2267 2269 2273 2281 2287 2293 2297 2309 2311 2333 2339 2341 2347 2351 2357 2371 2377 2381 2383 2389 2393 2399 2411 2417 2423 2437 2441 2447 2459 2467 2473 2477 2503 2521 2531 2539 2543 2549 2551 2557 2579 2591 2593 2609 2617 2621 2633 2647 2657 2659 2663 2671 2677 2683 2687 2689 2693 2699 2707 2711 2713 2719 2729 2731 2741 2749 2753 2767 2777 2789 2791 2797 2801 2803 2819 2833 2837 2843 2851 2857 2861 2879 2887 2897 2903 2909 2917 2927 2939 2953 2957 2963 2969 2971 2999 3001 3011 3019 3023 3037 3041 3049 3061 3067 3079 3083 3089 3109 3119 3121 3137 3163 3167 3169 3181 3187 3191 3203 3209 3217 3221 3229 3251 3253 3257 3259 3271 3299 3301 3307 3313 3319 3323 3329 3331 3343 3347 3359 3361 3371 3373 3389 3391 3407 3413 3433 3449 3457 3461 3463 3467 3469 3491 3499 3511 3517 3527 3529 3533 3539 3541 3547 3557 3559 3571 3581 3583 3593 3607 3613 3617 3623 3631 3637 3643 3659 3671 3673 3677 3691 3697 3701 3709 3719 3727 3733 3739 3761 3767 3769 3779 3793 3797 3803 3821 3823 3833 3847 3851 3853 3863 3877 3881 3889 3907 3911 3917 3919 3923 3929 3931 3943 3947 3967 3989 4001 4003 4007 4013 4019 4021 4027 4049 4051 4057 4073 4079 4091 4093 4099 4111 4127 4129 4133 4139 4153 4157 4159 4177 4201 4211 4217 4219 4229 4231 4241 4243 4253 4259 4261 4271 4273 4283 4289 4297 4327 4337 4339 4349 4357 4363 4373 4391 4397 4409 4421 4423 4441 4447 4451 4457 4463 4481 4483 4493 4507 4513 4517 4519 4523 4547 4549 4561 4567 4583 4591 4597 4603 4621 4637 4639 4643 4649 4651 4657 4663 4673 4679 4691 4703 4721 4723 4729 4733 4751 4759 4783 4787 4789 4793 4799 4801 4813 4817 4831 4861 4871 4877 4889 4903 4909 4919 4931 4933 4937 4943 4951 4957 4967 4969 4973 4987 4993 4999 5003 5009 5011 5021 5023 5039 5051 5059 5077 5081 5087 5099 5101 5107 5113 5119 5147 5153 5167 5171 5179 5189 5197 5209 5227 5231 5233 5237 5261 5273 5279 5281 5297 5303 5309 5323 5333 5347 5351 5381 5387 5393 5399 5407 5413 5417 5419 5431 5437 5441 5443 5449 5471 5477 5479 5483 5501 5503 5507 5519 5521 5527 5531 5557 5563 5569 5573 5581 5591 5623 5639 5641 5647 5651 5653 5657 5659 5669 5683 5689 5693 5701 5711 5717 5737 5741 5743 5749 5779 5783 5791 5801 5807 5813 5821 5827 5839 5843 5849 5851 5857 5861 5867 5869 5879 5881 5897 5903 5923 5927 5939 5953 5981 5987 6007 6011 6029 6037 6043 6047 6053 6067 6073 6079 6089 6091 6101 6113 6121 6131 6133 6143 6151 6163 6173 6197 6199 6203 6211 6217 6221 6229 6247 6257 6263 6269 6271 6277 6287 6299 6301 6311 6317 6323 6329 6337 6343 6353 6359 6361 6367 6373 6379 6389 6397 6421 6427 6449 6451 6469 6473 6481 6491 6521 6529 6547 6551 6553 6563 6569 6571 6577 6581 6599 6607 6619 6637 6653 6659 6661 6673 6679 6689 6691 6701 6703 6709 6719 6733 6737 6761 6763 6779 6781 6791 6793 6803 6823 6827 6829 6833 6841 6857 6863 6869 6871 6883 6899 6907 6911 6917 6947 6949 6959 6961 6967 6971 6977 6983 6991 6997 7001 7013 7019 7027 7039 7043 7057 7069 7079 7103 7109 7121 7127 7129 7151 7159 7177 7187 7193 7207 7211 7213 7219 7229 7237 7243 7247 7253 7283 7297 7307 7309 7321 7331 7333 7349 7351 7369 7393 7411 7417 7433 7451 7457 7459 7477 7481 7487 7489 7499 7507 7517 7523 7529 7537 7541 7547 7549 7559 7561 7573 7577 7583 7589 7591 7603 7607 7621 7639 7643 7649 7669 7673 7681 7687 7691 7699 7703 7717 7723 7727 7741 7753 7757 7759 7789 7793 7817 7823 7829 7841 7853 7867 7873 7877 7879 7883 7901 7907 7919 7927 7933 7937 7949 7951 7963 7993 8009 8011 8017 8039 8053 8059 8069 8081 8087 8089 8093 8101 8111 8117 8123 8147 8161 8167 8171 8179 8191 8209 8219 8221 8231 8233 8237 8243 8263 8269 8273 8287 8291 8293 8297 8311 8317 8329 8353 8363 8369 8377 8387 8389 8419 8423 8429 8431 8443 8447 8461 8467 8501 8513 8521 8527 8537 8539 8543 8563 8573 8581 8597 8599 8609 8623 8627 8629 8641 8647 8663 8669 8677 8681 8689 8693 8699 8707 8713 8719 8731 8737 8741 8747 8753 8761 8779 8783 8803 8807 8819 8821 8831 8837 8839 8849 8861 8863 8867 8887 8893 8923 8929 8933 8941 8951 8963 8969 8971 8999 9001 9007 9011 9013 9029 9041 9043 9049 9059 9067 9091 9103 9109 9127 9133 9137 9151 9157 9161 9173 9181 9187 9199 9203 9209 9221 9227 9239 9241 9257 9277 9281 9283 9293 9311 9319 9323 9337 9341 9343 9349 9371 9377 9391 9397 9403 9413 9419 9421 9431 9433 9437 9439 9461 9463 9467 9473 9479 9491 9497 9511 9521 9533 9539 9547 9551 9587 9601 9613 9619 9623 9629 9631 9643 9649 9661 9677 9679 9689 9697 9719 9721 9733 9739 9743 9749 9767 9769 9781 9787 9791 9803 9811 9817 9829 9833 9839 9851 9857 9859 9871 9883 9887 9901 9907 9923 9929 9931 9941 9949 9967 9973
Sum of Prime numbers  5736396


A program in which each new term in fibonacci series generated by adding the previous 2 terms

In [ ]:
number=int(input("enter value of number=")) 
a=0 
b=1
c=a+b
while c<number:
  print(c,end=' ') 
  a=b
  b=c
  c=a+b

enter value of number=100
1 2 3 5 8 13 21 34 55 89

By considering the terms in fibonacci sequence whose values do not exceed four million find the sum of even valued terms

In [ ]:
num=int(input("enter value="))
a=0
b=1
c=a+b
s=0
print("even numbers =",end=' ')
while c<=num:
  if c%2==0:
    print(c,end=' ')
    s+=c
  a=b
  b=c
  c=a+b
print("\nsum of fibonnacci series=",s)

enter value=4000000
even numbers = 2 8 34 144 610 2584 10946 46368 196418 832040 3524578
sum of fibonnacci series= 4613732

#                                       EXCERCISE-5
 write a program to count the number of charecters in the string and store them in a dictonaray data structure

In [ ]:
name=input("enter name:")
dic={}
  
for ch in name:
  keys=dic.keys()
  
  if(ch in keys):
     dic[ch]-dic[ch]+1 
  else:
    dic[ch]=1 
  
print("dictionary is",dic)

enter name:keerthisupraja
dictionary is {'k': 1, 'e': 1, 'r': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'u': 1, 'p': 1, 'a': 1, 'j': 1}

write a program to split and join methods in a string and trace a birthdaywith dictionary data structure

In [ ]:
dob={"keerthi":"25-jan-2002","radha":"01-agust-1999"}
name=input("Enter person name= ")
  
l=name.split()
birth=""

for i in l: 
  if i in dob.keys():
    pers=i
print("".join([pers,"Birthday is ",dob[pers]]))

Enter person name= keerthi
keerthiBirthday is 25-jan-2002

#                                          EXCERCISE-6
A.write a program combine lists that combines listst into dictonary

In [ ]:
subject=["DAA","OS","DBMS","P&S","PPL","SE"]
marks=[94,98,99,95,97,96]
print("given lists are:")
print("Subject name=",subject)
print("marks=",marks)
d=dict(zip(subject,marks))
print("dictonary=",d)

given lists are:
Subject name= ['DAA', 'OS', 'DBMS', 'P&S', 'PPL', 'SE']
marks= [94, 98, 99, 95, 97, 96]
dictonary= {'DAA': 94, 'OS': 98, 'DBMS': 99, 'P&S': 95, 'PPL': 97, 'SE': 96}

B.write a program to found the frquency of charecters in the given file .can you use charecter frequency to tell whether the given file is python program file or a text file or a c program file

In [ ]:
ftype=['.py','.c','.txt']
fn=input("enter the file name")
f=open(fn,"r")
count=dict()
print("given file  is",end=" ")
for ft in ftype:
  if(ft in fn):
    if(ft=='.py'):
      print("python file")
    elif(ft=='.c'):
      print("c file")
    else:
      print("txt file")
for line in f:
  for ch in line:
    if ch in count:
      count[ch]=count[ch]+1
    else:
      count[ch]=1
print(count)
f.close()

# EXCERCISE-7
A.write a program to print each line of the file in reverse order

In [ ]:
obj=open("abc.txt","r")
if obj:
  st=obj.read()
  print("file content is :\n",st)
obj.close()

print()
lines=st.split("\n")
for ln in lines:
  i=len(ln)-1
  while(i>=0):
    print(ln[i],end='')
    i=i-1
  print()

B.write a progeram to count the number of charecters,words and lines in a files

In [ ]:
nc=nw=nl=0
file=open("abc.txt","r")
nl=nw=nc=0
print("file content :\n")
for line in file:
  ln=line.strip("\n")
  print(ln)
  words=ln.split()
  nl+=1
  nw+=len(word)
  nc+=len(line)
file.close()
print("\n No of lines",nl,"words",nw,"character",nc)

##                                           EXCERCISE-8
A.write a function ball collides that takes two balls as parameters and computes if they are coliding.your function should return a boolean representing whether colliding or not

In [ ]:
import math
def collide(ball_tup1,ball_tup2):
  x1,y1,r1=ball_tup1
  x2,y2,r2=ball_tup2
  print("Ball1=",ball_tup1)
  print("Ball1=",ball_tup2)

  d=math.sqrt((x2-x1)**2+(y2-y1)**2)
  print("Centroid distance=",d)
  print("sum of radius ball1 and ball2={}+{}={}".format(r1,r2,r1+r2))

  if d<=r1+r2:
    return True
  else:
    return False
b1=(2,-4,-3)
b2=(5,8,10)

if collide(b1,b2):
  print("Balls are colide")
else:
  print("Balls are  not colide")

Ball1= (2, -4, -3)
Ball1= (5, 8, 10)
Centroid distance= 12.36931687685298
sum of radius ball1 and ball2=-3+10=7
Balls are  not colide

B.find mean,mode and for the given set of numbers in the list

In [ ]:
def list_mean(num_list):
 return sum(num_list)/len(num_list) 
def list_median(num_list): 
  num_list.sort()
  n=len(num_list)
  mid=n/2
  if (n%2==1):
    return num_list[mid]
  else:
    mid
    return (num_list[mid-1]+num_list[mid])/2

def list_mode(num_list):
  num_list.sort()
  temp=[]

  i=0
  while i<len(num_list):
    temp.append(num_list.count(num_list[i]))
    i+=1

  dic=dict(zip(num_list,temp))
  mode={k for(k,v) in dic.items() if v==max(temp)}
  return mode
  
lst=[1,1,2,2,2,3,4,5,3]


print("Given list is:",lst)
print("Mean of given list is:",list_mean(lst))
print("Median of given list is:",list_median(lst))
print("Mode of given list is:",list_mode(lst))

#                                       EXCERCISE-9
A.write a function nearly equal to test whether two strings are nearly equal or not.two strings are nearly a and b are equal when a can be generated by single mutation on b

In [ ]:
def nearly_eq(str1,str2):
  count=0
  i=j=0
  while(i<len(str1) and j<len(str2)):
   if (str1[i]!=str2[j]):
      count+=1
      if(len(str1)>len(str2)):
        i+=1
      elif(len(str1)-len(str2)):
         pass
      else:
         i-=1
   if(count>1):
     return False
   i+=1
   j+=1
  if(count<2):
   return True

strl=input("Enter String1: ")
str2=input("Enter String2: ")
bln=nearly_eq(strl,str2)
if(bln):
   print("Strings are nearly equal.")
else:
   print("String are NOT equal.")

Enter String1: keerthi
Enter String2: keerthi
Strings are nearly equal.

B.write a function dup to find all duplicates in the list

In [ ]:
def dups(numlist):
  temp=[]
  for i in numlist:
    cnt=numlist.count(i)
    if(cnt>1 and (i not in temp)):
       temp.append(i)
  print("Duplicates in the list: ",temp) 
lst=[1,2,3,5,6,1,1,2,2,4,4,4]
print("Given elements in the list: ",lst)
dups(lst)

Given elements in the list:  [1, 2, 3, 5, 6, 1, 1, 2, 2, 4, 4, 4]
Duplicates in the list:  [1, 2, 4]

C.write a function unique to find all unique elemnts of a list

In [ ]:
def unique(numlist):
  temp=[]
  for i in numlist:
    cnt=numlist.count(i)
    if cnt==1:
      temp.append(i)
  print("unique elemnts in list:",temp)
lst=[1,2,20,9,10,4,5,2,1]
print("given elemnts in the list:",lst)
unique(lst)

given elemnts in the list: [1, 2, 20, 9, 10, 4, 5, 2, 1]
unique elemnts in list: [20, 9, 10, 4, 5]

#                                           EXCERCISE-10
A.write a function cumulative product to compute cummulative product of list of numbers.

In [ ]:
def cum_pro(numlist):
  pro=1
  temp=[]
  for i in  numlist:
    pro*=i
    temp.append(pro)
  return temp
lst=[2,4,3,5,6]
print("list=",lst)
print("cumulative product=",cum_pro(lst))

list= [2, 4, 3, 5, 6]
cumulative product= [2, 8, 24, 120, 720]

B.write a function reverse to reverse a list,without using reverse function

In [ ]:
def rev_lst(numlist):
  i=0
  j=len(numlist)-1
  while(i<=j):
    temp=numlist[i]
    numlist[i]=numlist[j]
    numlist[j]=temp
    j-=1
    i+=1
  return numlist
lst=[10,20,30,40,50]
print("list=",lst)
rev_lst(lst)
print("reverse list=",lst)

list= [10, 20, 30, 40, 50]
reverse list= [50, 40, 30, 20, 10]

C.write a function to compute gcd,lcm of two numbers each function shouldnot exceed one line

In [ ]:
gcd=lambda a,b:a if b==0 else gcd(a,a%b)
lcm=lambda a,b:(a*b)/gcd(a,b)
x=5
y=25
print("Given numbers=",x,y)
print("GCD=",gcd(x,y))
print("LCM=",lcm(x,y))

Given numbers= 5 25
GCD= 5
LCM= 25.0

# EXCERCISE-11
*A.write a program that defines a matrix and prints.*

In [ ]:
mataA=[[]]
rows=int(input("Enter row size= "))
cols=int(input("Enter column size= "))

matA=[[int(input("enter [%d,%d]value:"%(i,j)))for j in range(cols)]for i in range(rows)]

print("matrix is")
for i in range(rows):
 for j in range(cols):
     print(matA[i][j],end='\t')
 print()

Enter row size= 3
Enter column size= 3
enter [0,0]value:1
enter [0,1]value:2
enter [0,2]value:3
enter [1,0]value:4
enter [1,1]value:5
enter [1,2]value:6
enter [2,0]value:7
enter [2,1]value:8
enter [2,2]value:9
matrix is
1	2	3
4	5	6
7	8	9

*B.write a program to perform addition of two square matrices.*

In [ ]:
def matRead(r,c):
  return[[int(input("[%d,%d] value:"%(i,j)))for j in range(c)]for i in range(r)]
def matDisp(mat,r,c):
  for i in range(r):
    for j in range(c):
      print(mat[i][j],end='\t')
    print()
matA=[[]]
matB=[[]]
matSum=[[]]
rows=int(input("Enter row size="))
cols=int(input("Enter column size="))
if rows==cols:
  print("enter A elements:")
  matA=matRead(rows,cols)

  print("enter B elements:")
  matB=matRead(rows,cols)

  print("Matric-A is:")
  matDisp(matA,rows,cols)

  print("Matric-B is:")
  matDisp(matB,rows,cols)

  matSum=[[matA[i][j]+matB[i][j] for j in range(cols)] for i in range (rows)]
  print("Sum of matrices is:")
  matDisp(matSum,rows,cols)
else:
  print("Matrices addition is not possible")

Enter row size=2
Enter column size=2
enter A elements:
[0,0] value:1
[0,1] value:2
[1,0] value:3
[1,1] value:4
enter B elements:
[0,0] value:5
[0,1] value:6
[1,0] value:7
[1,1] value:8
Matric-A is:
1	2
3	4
Matric-B is:
5	6
7	8
Sum of matrices is:
6	8
10	12

*C.write a program to perform multiplication of two square matrices*

In [ ]:
def matRead(r,c):
  return[[int(input("[%d,%d] value:"%(i,j)))for j in range(c)]for i in range(r)]
def matDisp(mat,r,c):
  for i in range(r):
   for j in range(c):
    print(mat[i][j],end='\t')
   print()

matA=[[]]
matB=[[]]
matSum=[[]]
rows=int(input("Enter row size="))
cols=int(input("Enter col size="))
if rows==cols:
  print("Enter A elements=")
  matA=matRead(rows,cols)

  print("Enter B elements=")
  matB=matRead(rows,cols)

  print(" Matrix A Is")
  matDisp(matA,rows,cols)

  print(" Matrix B Is")
  matDisp(matB,rows,cols)

  matSum=[[matA[i][j]+matB[i][j] for j in range(cols)] for i in range (rows)]

  print("Sum of matrix")
  matDisp(matSum,rows,cols)
else:
  print("Matrices addition is not possible")

Enter row size=2
Enter col size=2
Enter A elements=
[0,0] value:1
[0,1] value:2
[1,0] value:3
[1,1] value:4
Enter B elements=
[0,0] value:5
[0,1] value:6
[1,0] value:7
[1,1] value:8
 Matrix A Is
1	2
3	4
 Matrix B Is
5	6
7	8
Sum of matrix
6	8
10	12

# EXCERCISE-12
Write a script that imports the requests and fettch content from page

In [ ]:
import requests
r=requests.get('https://www.google.com')

print("status code:",r.status_code)

print("header content:",r.headers['content-type'])

print(r.text)

Write a simple script that serves a asimple HTTPR response and a simple HTML page

In [ ]:
from flask import Flask,render_template
app=Flask(_name_)
print(app)
@app.route("/")
def main():
  return render_template('login.html')

if_name=="main_":
  app.run(host="127.0.0.1",port=2500)

# EXCERCISE-13
*A.class variables and instance variable and illustration of the self-variable*

In [ ]:
class Robot:
  What="Machine"
  name="chinni"
  version=1.0
  speed="1THz"
  memory="1ZB"

  def update(upd):
    upd.version=2.0
    upd.speed="2THz"
    upd.memory="2ZB"

  
  def disp(self):
    print("Myself is:",robj.What)
    print("Myname is:",robj.name)
    print("version:",robj.version)
    print("speed:",robj.speed)
    print("Memory:",robj.memory)
    

 
robj=Robot()
robj.disp()

print("--------------UPDATE---------------")
robj.update()
robj.disp()

Myself is: Machine
Myname is: chinni
version: 1.0
speed: 1THz
Memory: 1ZB
--------------UPDATE---------------
Myself is: Machine
Myname is: chinni
version: 2.0
speed: 2THz
Memory: 2ZB

B.*ATM* *machine*

In [ ]:
class Atm:
    def __init__(self):
       self.balance=0
       
    def enquire(self):
       print("balance",self.balance)
       
    def deposit(self):
       amount=int(input("Enter deposite amount="))
       self.balance+=amount
       self.enquire()

    def withdraw(self):
       amount=int(input("Enter withdraw amount="))
       if self.balance<amount:
        print("Insufficient balance")
       else:
        self.balance-=amount
        self.enquire()

aobj=Atm()
while(True):
    print("----------Menu----------")
    print("1.Deposite")
    print("2.Withdraw")
    print("3.Balance")
    print("0.Exit")

    ch=int(input("Enter your choice="))

    if ch==0:
        break
    elif ch==1:
        aobj.deposit()
    elif ch==2:
        aobj.withdraw()
    elif ch==3:
        aobj.enquire()
    else:
        print("Invalid choice")
        pass

----------Menu----------
1.Deposite
2.Withdraw
3.Balance
0.Exit
Enter your choice=1
Enter deposite amount=100
balance 100
----------Menu----------
1.Deposite
2.Withdraw
3.Balance
0.Exit
Enter your choice=1
Enter deposite amount=1000
balance 1100
----------Menu----------
1.Deposite
2.Withdraw
3.Balance
0.Exit
Enter your choice=2
Enter withdraw amount=100
balance 1000
----------Menu----------
1.Deposite
2.Withdraw
3.Balance
0.Exit
Enter your choice=0